*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow-clr: #fcc735;
  --orange-clr: #eb663a;
  --darkBlue-clr: #1b4862;
  --black-clr: #000000;
  --white-clr: #ffffff;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--white-clr);
  font-size: 1rem;
}

/* button */
.btn {
  border-radius: 10px;
  background: var(--yellow-clr);
  border: none;
  font-size: 1rem;
  color: var(--white-clr);
  cursor: pointer;
  padding: 1rem 2rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--black-clr);
  font-weight: 500;
}
