*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow-clr: #fcc735;
  --orange-clr: #eb663a;
  --darkBlue-clr: #1b4862;
  --black-clr: #000000;
  --white-clr: #ffffff;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--white-clr);
  font-size: 1rem;
  padding: 3rem 5rem;
}

/* button */
.btn {
  border-radius: 10px;
  background: var(--yellow-clr);
  border: none;
  font-size: 1rem;
  color: var(--white-clr);
  cursor: pointer;
  padding: 1rem 2rem;
}

section {
  margin-bottom: 5rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--black-clr);
  font-weight: 500;
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero__text > * {
  padding-bottom: 1rem;
}

.hero__form input[type='text'] {
  padding: 0.8rem 1rem;
  font-size: inherit;
  border: 1px solid var(--yellow-clr);
  outline: none;
}

.hero .hightlight {
  color: var(--orange-clr);
}

.hero__video {
  border: 2px solid gray;
  border-radius: 20px;
}

/* Partners */
.partners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.partners a {
  text-decoration: none;
  color: var(--black-clr);
}

/* Strenght */
.ourStrenght {
  text-align: center;
}
.ourStrenght div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.ourStrenght div .main {
  font-weight: 700;
}

.ourStrenght div > * {
  border-radius: 10px;
  border: 1px solid red;
  text-align: center;
}

.ourStrenght article > * {
  margin-bottom: 0.8rem;
}

.ourStrenght article > *:last-child {
  padding-bottom: 1.5rem;
}

.ourStrenght img {
  height: 3rem;
  width: 3rem;
  border: 2px solid red;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
}

.ourStrenght article:nth-of-type(1) img {
  background-color: var(--orange-clr);
}

.ourStrenght article:nth-of-type(2) img {
  background-color: var(--darkBlue-clr);
}
.ourStrenght article:nth-of-type(3) img {
  background-color: var(--orange-clr);
}
.ourStrenght article:nth-of-type(4) img {
  background-color: var(--darkBlue-clr);
}
